---
// Fixed mute/unmute button. Text + pressed state are managed by sounds.ts.
---

<button
  id="sound-toggle"
  class="sound-toggle"
  type="button"
  aria-pressed="false"
>
  🔊 SOUND: ON
</button>
